@font-face {
    font-family: "Spectral SC";
    src: url("/assets/fonts/SpectralSC-ExtraLight.ttf");
    font-weight: 200;
}

@font-face {
    font-family: "Spectral SC";
    src: url("/assets/fonts/SpectralSC-ExtraLightItalic.ttf");
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "Spectral SC";
    src: url("/assets/fonts/SpectralSC-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Spectral SC";
    src: url("/assets/fonts/SpectralSC-LightItalic.ttf");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Spectral SC";
    src: url("/assets/fonts/SpectralSC-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Spectral SC";
    src: url("/assets/fonts/SpectralSC-Italic.ttf");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Spectral SC";
    src: url("/assets/fonts/SpectralSC-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Spectral SC";
    src: url("/assets/fonts/SpectralSC-MediumItalic.ttf");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Spectral SC";
    src: url("/assets/fonts/SpectralSC-SemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "Spectral SC";
    src: url("/assets/fonts/SpectralSC-SemiBoldItalic.ttf");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "Spectral SC";
    src: url("/assets/fonts/SpectralSC-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Spectral SC";
    src: url("/assets/fonts/SpectralSC-BoldItalic.ttf");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Spectral SC";
    src: url("/assets/fonts/SpectralSC-ExtraBold.ttf");
    font-weight: 800;
}

@font-face {
    font-family: "Spectral SC";
    src: url("/assets/fonts/SpectralSC-ExtraBoldItalic.ttf");
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: "Spartan";
    src: url("/assets/fonts/Spartan-Thin.ttf");
    font-weight: 100;
}

@font-face {
    font-family: "Spartan";
    src: url("/assets/fonts/Spartan-ExtraLight.ttf");
    font-weight: 200;
}

@font-face {
    font-family: "Spartan";
    src: url("/assets/fonts/Spartan-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Spartan";
    src: url("/assets/fonts/Spartan-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Spartan";
    src: url("/assets/fonts/Spartan-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Spartan";
    src: url("/assets/fonts/Spartan-SemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "Spartan";
    src: url("/assets/fonts/Spartan-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Spartan";
    src: url("/assets/fonts/Spartan-ExtraBold.ttf");
    font-weight: 800;
}

@font-face {
    font-family: "Spartan";
    src: url("/assets/fonts/Spartan-Black.ttf");
    font-weight: 900;
}
