footer {
  color: $tertiary-color;
  background-color: $primary-color;
  font-family: $secondary-font-family;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  padding: 26px;
}