header {
  display: flex;
  justify-content: flex-end;

  a {
    display: block;
    padding: 26px;
    color: $tertiary-color;
    background-color: $secondary-color;
    line-height: 1.25;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  > div {
    display: flex;
    justify-content: flex-end;

    @include media-query-up($xl) {
      width: 50%;
      background-color: $primary-color;

      &.slim-header {
        width: 25%;
      }
    }
  }
}