.home {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 36px;

  @include media-query-up($sm) {
    padding: 0;
  }

  .light-border {
    max-width: 692px;
    border-left: 1px solid $secondary-color;
    padding-left: 24px;
    
    @include media-query-up($sm) {
      margin-top: 126px;
      margin-bottom: 126px;
    }

    p {
      margin-bottom: 16px;
    }
  }
}