div.home {
  padding: 72px;

  @include media-query-up($md) {
    padding: 96px;
  }
  
  @include media-query-up($xl) {
    padding: 48px;
    width: 50%;
  }

  h2 {
    color: $secondary-color;
    font-family: $secondary-font-family;
    font-size: 1.5rem;
    margin-bottom: 24px;
    font-weight: 600;
  }

  h1 {
    font-size: 2rem;
    margin-bottom: 72px;
    font-weight: 700;
  }

  div.light-border {
    border-left: 2px solid $quaternary-color;
    padding-left: 16px;

    > * {
      @include media-query-up($lg) {
        width: 50%;
      }
    }

    @include media-query-up($lg) {
      border-left: unset;
      padding-left: 0px;
    }

    > div {      
      @include media-query-up($lg) {
        border-left: 2px solid $quaternary-color;
        padding-left: 16px;
        margin-right: 16px; 
      }
    }

    > p {             
      @include media-query-up($lg) {
        border-left: 2px solid $quaternary-color;
        padding-left: 16px;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-end;
        margin-bottom: 0px;
      }
    }
    
    p:not(:last-child) {
      margin-bottom: 16px;
    }

    @include media-query-up($lg) {
      display: flex;
      justify-content: space-between;
    }
  }

  div.social-contact {
    margin-top: 36px;
    
    @include media-query-up($lg) {
      display: flex;
      justify-content: space-between;
    }
    .social-link {
      display: flex;
      align-items: center;
      color: $secondary-color;
      text-decoration: none;
      font-family: $secondary-font-family;
      font-weight: 600;

      @include media-query-up($lg) {
        width: 50%;
      }

      p {
        margin-left: 16px;
      }

      svg {
        fill: $secondary-color
      }

      &:hover {
        text-decoration: underline;
      }

      &:not(:first-child) {
        margin-top: 12px;

        @include media-query-up($lg) {
          margin-top: 0;
        }
      }

      &:first-child {
        margin-right: 16px; 
      }
    }
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 72px - 76px);

  @include media-query-up($xl) {
    flex-direction: row;
  }
}
