div.menu {
  padding: 72px;
  background-color: $primary-color;
  flex-grow: 1;

  @include media-query-up($md) {
    padding: 96px;
  }
  
  @include media-query-up($xl) {
    padding: 48px;
    width: 50%;
  }

  h3 {
    color: $secondary-color;
    font-family: $secondary-font-family;
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 24px;
  }

  ul {
    list-style: none;
    color: $tertiary-color;

    li {
      font-size: 1.5rem;
      line-height: 1.5;
      margin-bottom: 36px;

      a {
        text-decoration: none;
        display: block;
        color: inherit;

        &:hover {
          text-decoration: underline;
        }

        p {
          color: $quaternary-color;
          font-size: 16px;
        }
      }
    }
  }
}