article.post {
  padding: 72px;
  max-width: 1200px;
  margin: 0 auto;

  @include media-query-up($md) {
    padding: 96px;
  }

  @include media-query-up($xl) {
    padding: 48px;
    width: 75%;
  }

  header.post-header {
    display: block;
    padding: 16px 0;
    border-bottom: none;

    .post-title {
      font-family: $secondary-font-family;
    }
  }

  h1 {
    font-size: 2rem;
    margin: 24px 0;
    font-weight: 600;
  }

  h2 {
    font-size: 1.5rem;
    margin: 24px 0;
    font-weight: 600;
  }

  h3 {
    font-size: 1.25rem;
    margin: 24px 0;
    font-weight: 600;
  }

  h4 {
    font-size: 1rem;
    margin: 24px 0;
    font-weight: 600;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $secondary-font-family;
  }

  p,
  ul {
    margin-bottom: 16px;
  }

  ul {
    list-style-type: disc;
    list-style-position: inside;
    padding-left: 24px;
  }

  ol {
    list-style-type: decimal;
    list-style-position: inside;
    padding-left: 24px;

    li {
      margin-bottom: 16px;
    }
  }

  a {
    color: $primary-color;

    &:visited {
      color: $primary-color;
    }
  }

  p.post-meta {
    color: $primary-color;
    font-family: $primary-font-family;
    font-weight: 600;
  }

  blockquote {
    font-style: italic;

    p {
      padding-left: 16px;
      border-left: 2px solid $primary-color;
    }
  }

  strong {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }

  img {
    max-width: 100%;
  }

  .post-categories {
    padding-top: 36px;

    a {
      padding: 8px 12px;
      border-radius: 4px;
      background-color: $primary-color;
      color: white;
      text-decoration: none;

      &:visited {
        color: white;
      }
    }
  }
}