@charset "utf-8";
@import "partials/fonts";

$primary-font-family: "Spartan", Arial, sans-serif;
$secondary-font-family: "Spectral SC", "Times New Roman", serif;
$base-font-size:   16px;
$base-font-weight: 400;
$base-line-height: 1.5;

$primary-color: #000000;
$secondary-color: #d2d2d2;


$sm: 577px;
$md: 769px;
$lg: 993px;
$xl: 1201px;
$xxl: 1401px;

@mixin media-query-up($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

@import
  "partials/base",
  "partials/header"
;
