$dark-background: #1E1E1E !default;
$medium-background: #252525 !default;
$light-background: #565656 !default;
$medium-text: #929292 !default;
$light-text: #CCCCCC !default;
$blue: #007ACC !default;

$text-color: $light-text !default;

$link-color: $blue !default;