.btn {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-image: none;
    background-color: transparent;
    color: $text-color;
    border: 1px solid transparent;
    cursor: pointer;
    text-decoration: none;
    border-radius: .25em;
    padding: .25em .5em;
    transition: all 0.3s ease 0s;
}

.btn:hover {
    border-color: $link-color;
    color: $link-color;
}

.btn-primary {
    border-color: $text-color;
}