.projects {
    display: none;
    padding: 1em;
    text-align: center;

    >div {
        margin-bottom: 1em;
    }
}

.img-container {

    padding: .5em;

    img {
        width: 100%;

        @include medium-and-above {

            width: 1000px;
        }
    }
}

.project-description {

    padding: .5em;

    @include medium-and-above {
        
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }

    ul {
        
        list-style-position: inside;

        @include extra-small-only {

            text-align: left;
        }
    }
}