.projects {
    display: none;
    padding: 1em;
    text-align: center;

    >div {
        margin-bottom: 1em;
    }
}

.img-container {

    padding: .5em;

    img {
        width: 100%;

        @include medium-and-above {

            width: 1000px;
        }
    }
}

.project-description {

    padding: .5em;

    p {

        text-align: center;

        @include extra-small-only {

            text-align: left;
        }
    }

    ul {
        
        list-style-position: inside;
    }
}