---
layout: default
---
<div class="home">
  <div class="light-border">
    <div>
      <p>
        My name is Lucas.
      </p>
      <p>
        I'm a mechanical engineer that has gotten into software engineering and development, and I'm currently working with innovative software solutions at KPMG in São Paulo, Brazil.
      </p>
    </div>
    <p>
      Here you can find projects I've worked on and articles about what I'm interested in. I like to write to organize my ideas and thoughts. The writing is done mostly in portuguese since I'm brazilian, but sometimes I write in english too.
    </p>
  </div>
</div>
