---
layout: default
---

<div class="posts">
  <ul>
    {%- for post in site.posts limit:5  -%}
      <li>
        <a href="{{ post.url | relative_url }}">
          <h3>
            {{ post.title }}
          </h3>
          <p class="post-meta">
            {%- if post.author -%}
              <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                <span class="p-author h-card" itemprop="name">{{ post.author }}, </span>
              </span>
            {%- endif -%}
            <time class="dt-published" datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
              {{ post.date | date: "%d/%m/%Y" }}.
            </time>
          </p>
          <p>{{ post.content | strip_html | slice: 0, 200 }}{% if post.content.size > 200 %}...{% endif %}</p>
        </a>
      </li>
    {%- endfor -%}
  </ul>
</div>
