---
layout: default
---

<div class="posts">
  <ul>
    {%- for project in site.projects limit:5  -%}
    <li>
      <a href="{{ project.url | relative_url }}">
        <h3>
            {{ project.title }}
          </h3>
          <p class="post-meta">
            {%- if project.author -%}
              <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                <span class="p-author h-card" itemprop="name">{{ project.author }}, </span>
              </span>
              {%- endif -%}
            <time class="dt-published" datetime="{{ project.date | date_to_xmlschema }}" itemprop="datePublished">
              {{ project.date | date: "%d/%m/%Y" }}.
            </time>
          </p>
          <p>{{ project.content | strip_html | slice: 0, 200 }}{% if project.content.size > 200 %}...{% endif %}</p>
        </a>
      </li>
      {%- endfor -%}
    </ul>

    {% assign projects_by_year = site.projects | group_by_exp:"project", "project.date | date: '%Y'" %}
    <div class="posts-menu">
      {% for year in projects_by_year %}
        <div class="posts-year">
          <h1 class="label" onclick="toggleSection('{{ year.name }}')">{{ year.name }}</h1>
          <ul class="section" id="{{ year.name }}">
            {% for project in year.items %}
              <li><a href="{{ project.url }}">{{ project.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </div>
</div>
